<!DOCTYPE html>
<html>
<head>
  <title>EngineTeaspoonExample</title>
  <%= stylesheet_link_tag    "engine_teaspoon_example/application", media: "all" %>
  <%= javascript_include_tag "engine_teaspoon_example/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
